.top-left{
	/*width: 45%;
	height:45%;*/
	float: left;
	margin: 2% 2% 3% 3%;
	text-align: center;	
}
.top-right{
	/*width: 45%;
	height:45%;*/
	float: right;
	margin:  2% 3% 3% 2%;
	text-align: center;
	background-color: rgba(0,30,47,22);
}
.bottom-left{
	/*width: 45%;
	height:45%;*/
	float: left;
	margin:  2% 2% 3% 3%;
	text-align: center;
}
.bottom-right{
	
	/*width: 45%;
	height:45%;*/
	float: right;
	margin:  2% 3% 3% 2%;
	text-align: center;
}

#graph{
	background: url("../images/bg-texture.png") no-repeat;
    background-color: rgb(1,18,35);
    background-size: cover;	
	overflow: auto;
}


.monitor-header {
	height: 120px;
	text-align: center;
	padding-top: 15px;
	padding-left: 100px;
  }
   
  .cross {
	text-align: center;
	padding-top: 15px;
	padding-left: 100px;
	position: absolute;
	top: 0;
	left: 0;
	height: 70px;
	width: 720px;
	background: url("../images/ttitle-left-texture.png") no-repeat;
	background-size: contain;
  }

  .title {
  	/*text-align: center;
  	padding-top: 8px;
  	padding-left: -5px;*/
  	position: absolute;
  	height: 50px;
    line-height: 50px;
    color: #00f0ff;
    font-size: 28px;
    left: 450px;
  }  

  .cross-footer {
    position: absolute;
    left: 700px;
    top: 50px;
    height: 27px;
    width: 250px;
    background: url("../images/title-right-texture.png") no-repeat;
    background-size: cover;
  }

.app-name{
	position: absolute;
    top: 30px;
    right: 20px;
	width: 110px;
    height: 30px;
    line-height: 20px;
    font-size: 12px;
	color: #00f0ff;
	font-weight: bold;
}
  .monitor-time{
	  position: absolute;
	  top:0;
	  right: 0;
	  width: 19%;
	  height: 25%;
	  background: url("../images/time-texture.png") no-repeat;
	  background-size: cover;
	  color: #00F0FF;
	  display: flex;
	 
	  }

	.time-content{
	    margin-left: 25px;
	  }

	.time{
		position: absolute;
		right:92px;
		top:75px;
		font-weight: bold;
		color:#00F0FF;
		font-size:20px;
	 }

	.date{
		position: absolute;
		right:98px;
		top:50px;
		font-weight: bold;
		color:#00B0E2;
		font-size: 9px;
	}

	.monitor-footer{
	  width: 100%;
	  height: 62px;
	  position: relative;
	}
	  .btn-left{
	    position: absolute;
	    left: 0px;
	    bottom: 25px;
	    width: 27px;
	    height: 46px;
	    background: url("../images/leftConner-texture.png") no-repeat;
	  }
	  .btn-right{
	    position: absolute;
	    right: 0;
	    bottom: 25px;
	    width: 290px;
	    height: 62px;
	    background: url("../images/rightConner-texture.png") no-repeat;
	  }
	