
.alarm1{
	 background: url("../images/link1.jpg")  fixed center center no-repeat;
	 background-size: 100% 100%;
     width:100%;
}
.alarm2{
	 background: url("../images/link2.jpg")  fixed center center no-repeat;
	 background-size: 100% 100%;
     width:100%;
}
#date{
	position: absolute;	
	right:100px;
	top:100px;
	font-weight: bold;
	color:#00F0FF
}
#time{
	position: absolute;	
	right:125px;
	top:120px;
	font-weight: bold;
	color:#00F0FF
}