
/*.alarm1{
	 background: url("../images/link1.jpg")  fixed center center no-repeat;
	 background-size: 100% 100%;
     width:100%;
}
.alarm2{
	 background: url("../images/link2.jpg")  fixed center center no-repeat;
	 background-size: 100% 100%;
     width:100%;
}*/
#date{
	/*position: fixed;	
	right:7.2%;
	top:8%;*/
	position: absolute;
	right:6.9%;
	top:5%;
	font-weight: bold;
	color:#00B0E2;
	font-size: 20px;
}
#time{
	/*position: fixed;	
	right:6.8%;
	top:12%;*/
	position: absolute;
	right:6.4%;
	top:8%;
	font-weight: bold;
	color:#00F0FF;
	font-size:30px;
}

.first{	
	opacity: 1;
	width: 100%;
	height: 100%;
	position:fixed;
	z-index: 20;
	top:0px;
	left:0px;
}

.second{	
	opacity: 1;
	width: 100%;
	height: 100%;
	position:fixed;
	z-index: 10;
	background:url("../images/link1.gif") fixed  left top no-repeat;
	background-size: 100% ;  
}

.third{	
	opacity: 1;
	width: 100%;
	height: 100%;
	position:fixed;
	z-index: 10;
	background:url("../images/link2.gif") fixed  left top no-repeat;
	background-size: 100%;    
}

.forth{	
	opacity: 1;
	width: 100%;
	height: 100%;
	position:fixed;
	z-index: 15;
	background:url("../images/circle.gif") fixed  left top no-repeat;
	background-size: 100%;    
}