
#time{
	position: fixed;	
	left:11.5%;
	top:21%;
	font-weight: 20px;
	color:#00F0FF
}

.first{	
	opacity: 1;
	width: 100%;
	height: 100%;
	position:fixed;
	z-index: 20;
}

.second{	
	opacity: 1;
	width: 100%;
	height: 100%;
	position:fixed;
	z-index: 10;
	background:url("../images/instance1.jpg") fixed  left top no-repeat;
	background-size: 100% 100%;    
}
.third{	
	opacity: 1;
	width: 100%;
	height: 100%;
	position:fixed;
	z-index: 9;
	background:url("../images/instance2.jpg") fixed  left top no-repeat;
	background-size: 100% 100%;
}
.fourth{	
	opacity: 1;
	width: 100%;
	height: 100%;
	position:fixed;
	z-index: 8;
	background:url("../images/instance3.jpg") fixed  left top no-repeat;
	background-size: 100% 100%;
}
.fifth{	
	opacity: 1;
	width: 100%;
	height: 100%;
	position:fixed;
	z-index: 7;
	background:url("../images/instance4.jpg") fixed  left top no-repeat;
	background-size: 100% 100%;
}
.sixth{	
	opacity: 1;
	width: 100%;
	height: 100%;
	position:fixed;
	z-index: 6;
	background:url("../images/instance5.jpg") fixed  left top no-repeat;
	background-size: 100% 100%;
}


