<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>应用监控</title>
		<link rel="stylesheet" media="screen" href="styles/appmoni.css"/>
	</head>
	<body>
		<div id="graph">
			<h3 style="text-align:center">应用[演示]监控</h3>
               
               <div class="top-left">
					<div id="container2" style="height:400px;width:550px;border:1px solid #ccc;padding:10px;"></div>
				<!-- 	<div>响应时间（RT）曲线</div> -->
				</div>
				
				<div class="top-right" >
					<div id="map" style="height:400px;width:550px;border:1px solid #ccc;padding:10px;"></div>
				<!-- 	<div>全国地区访问量</div> -->
				</div>
				
				<div class="bottom-left ">
					<div id="container1" style="height:400px;width:550px;border:1px solid #ccc;padding:10px;"></div>
					<!-- <div>用户访问量（UV）曲线</div> -->
				</div>
				
				<div class="bottom-right">
					<div id="container3" style="height:400px;width:550px;border:1px solid #ccc;padding:10px;"></div>
					<!-- <div>网站流量曲线</div> -->
				</div>

				<span id="preValue1" style="visibility:hidden"> ${pre1}</span>
				<span id="preValue2" style="visibility:hidden"> ${pre2}</span>
				<span id="preValue3" style="visibility:hidden"> ${pre3}</span>			
		</div>
		<script type="text/javascript" src="map/jquery-3.0.0.js"></script> 
		<script type="text/javascript" src="map/highcharts.js"></script>
		<script type="text/javascript" src="map/graph.js"></script>
		<script src="map/echarts.js"></script>
		
	</body>
</html>