<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>应用监控</title>
		<link rel="stylesheet" media="screen" href="styles/appmoni.css"/>
	</head>
	<body  style="overflow-x:hidden;overflow-y:hidden">
		<div id="graph">
			<div class="monitor-header">
		        <div class="cross"></div>
		        <div class="title">
		          用友云开发者中心-应用监控
		        </div>
		        <div class="cross-footer" >
		        	<div class="app-name">玩事荣耀红包</div>
		        </div>         
		    
			     <div class="monitor-time">
			       <div class="time-content">
			          <div id="date" class="date">
			    
			          </div>
			          <div id="time" class="time">
			           
			          </div>
			       </div>
		     	</div>
	     	</div>
               
               <div class="item top-left">
					<div id="container2" style="height:4rem;width:6rem;border:1px solid #006681; borderRadius:10px;"></div>
				<!-- 	<div>响应时间（RT）曲线</div> -->
				</div>
				
				<div class="item top-right" >
					<div id="map" style="height:4rem;width:6rem;border:1px solid #006681;"></div>
				<!-- 	<div>全国地区访问量</div> -->
				</div>
				
				<div class="item bottom-left ">
					<div id="container1" style="height:4rem;width:6rem;border:1px solid #006681;"></div>
					<!-- <div>用户访问量（UV）曲线</div> -->
				</div>
				
				<div class="item bottom-right">
					<div id="container3" style="height:4rem;width:6rem;border:1px solid #006681;"></div>
				</div>
				

				<span id="preValue1" style="display: none"> ${pre1}</span>
				<span id="preValue2" style="display: none"> ${pre2}</span>
				<span id="preValue3" style="display: none"> ${pre3}</span>		

					<!-- <div>网站流量曲线</div> -->
				<div class="monitor-footer">
			        <div class="btn-left"></div>
			        <div class="btn-right"></div>	
			        <div class="scripts">developer.yonyou.com</div>				
				</div>
				
		</div>
		<script type="text/javascript" src="map/jquery-3.0.0.js"></script> 
		<script type="text/javascript" src="map/highcharts.js"></script>
		<script type="text/javascript" src="map/graph.js"></script>
		<script src="map/echarts.js"></script>
		<script>
			document.addEventListener('DOMContentLoaded',function(){
				var width = document.body.clientWidth;
				var rem = width/13;
				document.documentElement.style.fontSize=rem+'px';
				document.body.style.visibility='visible';

			})
		</script>
		
	</body>
</html>