<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>应用监控</title>
		<link rel="stylesheet" media="screen" href="styles/appmoni.css"/>
	</head>
	<body>
		<div>
			<h3 style="text-align:center">应用[演示]监控</h3>
               
               <div class="top-left background">
					<div id="container2"></div>
					<div>响应时间（RT）曲线</div>
				</div>
				
				<div class="top-right  background">
					<div id="map" ></div>
					<div>全国地区访问量</div>
				</div>
				
				<div class="bottom-left background">
					<div id="container1" ></div>
					<div>用户访问量（UV）曲线</div>
				</div>
				
				<div class="bottom-right background">
					<div id="container3" ></div>
					<div>网站流量曲线</div>
				</div>

				<span id="preValue1" style="visibility:hidden"> ${pre1}</span>
				<span id="preValue2" style="visibility:hidden"> ${pre2}</span>
				<span id="preValue3" style="visibility:hidden"> ${pre3}</span>			
		</div>
		<script type="text/javascript" src="map/jquery-3.0.0.js"></script> 
		<script type="text/javascript" src="map/highcharts.js"></script>
		<script type="text/javascript" src="map/raphael.js"></script> 
		<script type="text/javascript" src="map/chinamapPath.js"></script> 
		<script type="text/javascript" src="map/china.js"></script> 
		<script type="text/javascript" src="map/graph.js"></script>
	</body>
</html>