<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>实例扩缩</title>
	<link rel="stylesheet" media="screen" href="styles/scale.css"/>
</head>
<body>	
	<div class="first">
		<input type="button" value="应用监控" onclick="javascrtpt:
		var ip_addr = document.location.hostname;
		window.location.href='http://'+ip_addr+':8080/yanshi/view/1'
		">
		<input type="button" value="全链路" onclick="javascrtpt:
		var ip_addr = document.location.hostname;
		window.location.href='http://'+ip_addr+':8080/yanshi/view/2'
		">
		<input type="button" value="应用管理" onclick="javascrtpt:
		var ip_addr = document.location.hostname;
		window.location.href='http://'+ip_addr+':8080/yanshi/view/3'
		">
			<input type="button" value="up" onclick="javascrtpt:$.ajax({ 
                  type: 'GET', 
                  url: '/yanshi/view/up',
               });">
		<input type="button" value="expand" onclick="javascrtpt:$.ajax({ 
                  type: 'GET', 
                  url: '/yanshi/view/expand',
               });">
		<input type="button" value="down" onclick="javascrtpt:$.ajax({ 
                  type: 'GET', 
                  url: '/yanshi/view/down',
               });">	
		<span id="time"></span>
	</div>
	
		<div class="second">
			
		</div>
		<div class="third">
			
		</div>
		<div class="fourth">

		</div>
		<div class="fifth">
		
		</div>
		<div class="sixth">
		
		</div>

	<script type="text/javascript" src="scale/jquery-3.0.0.js"></script> 
	<script type="text/javascript" src="scale/index.js"></script>
	
</body>
</html>