<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>实例扩缩</title>
	<link rel="stylesheet" media="screen" href="styles/scale.css"/>
</head>
<body>	
	<div class="first">
		
		<span id="time"></span>
	</div>
	
		<div class="second">
			
		</div>
		<div class="third">
			
		</div>
		<div class="fourth">

		</div>
		<div class="fifth">
		
		</div>
		<div class="sixth">
		
		</div>

	<script type="text/javascript" src="scale/jquery-3.0.0.js"></script> 
	<script type="text/javascript" src="scale/index.js"></script>
	
</body>
</html>