<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>应用管理</title>
	<link href="http://design.yonyoucloud.com/static/yonyouyun/iconfont.css" rel="stylesheet" media="screen">
	<link rel="stylesheet" media="screen"  href="styles/scale1.css">
	<link rel="stylesheet" href="styles/ui.css">
</head>
<body style="overflow-x:hidden;overflow-y:hidden">
		<div id="scale">
			<div class="manage-header">
		        <div class="cross"></div>
		        <div class="title">
		          用友云开发者中心-应用管理
		        </div>
		        <div class="cross-footer" >
		        	<div class="app-name"></div>
		        </div>         
		    </div>
		    <div class="tile">
		    	<!-- <div class="pic-bg"></div> -->
		    	<div class="tile-cricle">
                    <div class="tile-img">
                      
                    </div>
                </div>
                <div class="app-detail">
                	<div class="name">玩事荣耀红包</div>
                	<div class="progress">
                		<div id="progress_bar" class="ui-progress-bar ui-container">
					      	<div class="ui-progress" style="width: 79%;">
					        <span class="ui-label" style="display:none;"><b class="value">79%</b></span>
					      	</div>
				    	</div>
                	</div>
                	<div class="time"><i class="cl cl-clock"></i><span id="time"></span></div>
                </div>	
                <div class="buttons">
                	<div class=" button pause">
                		<div class="icon"><i class="cl1 cl-suspend"></i></div>
                		<div class="button-name">暂停</div>
                	</div>
                	<div class="button restart">
						<div class="icon"><i class="cl1 cl-restar"></i></div>
                		<div class="button-name">重启</div>
                	</div>
                	<div class="button destroy">
						<div class="icon"><i class="cl1 cl-del"></i></div>
                		<div class="button-name">销毁</div>
                	</div>
                	<div class="button upgrade">
                		<div class="icon"><i class="cl1 cl-update-p"></i></div>
                		<div class="button-name">升级</div>
                	</div>
                	<div class="button rollback">
                		<div class="icon"><i class="cl1 cl-backdate-p"></i></div>
                		<div class="button-name">回滚</div>
                	</div>
                	<div class="button authmanage">
                		<div class="icon"><i class="cl1 cl-permission"></i></div>
                		<div class="button-name">权限管理</div>
                	</div>
                	<div class="button shelves">
                		<div class="icon"><i class="cl1 cl-shop"></i></div>
                		<div class="button-name">上架</div>
                	</div>
                </div>	   
            </div>
            <div class="info">
            	<div class="left-info">
            		<div class="list1">
						<span class="lable" >域名</span>
						<span class="value" style="color: rgb(0, 132, 255)">qo8oxz4i.727524.app.yyuap.com</span>
            		</div>
            		<div class="list2">
            			<span class="lable">状态</span>
						<span class="value"  id="health" style="color:#ffc659">扩容中</span>
            		</div>
            	</div>
            	<div class="right-info">
            		<div class="list1">
						<span class="lable">所属镜像</span>
						<span class="value" style="color: rgb(0, 132, 255)">dockerhub.yonyoucloud.com/727524/wanshi2.1.1</span>
            		</div>
            		<div class="list2">
            			<span class="lable">实例数</span>
            			<span class="value"><input id='instancenum' type="text" value="  1"  style="background-color:#001931;border:1px solid #c5c5c5;color:#ccc"/></span>
            		</div>
            	</div>
            </div>
            <hr class="line"/>
            <hr class="line-red"/>
            <div class="tabs">
				<span class="tab">实例</span>
				<span class="tab">属性</span>
				<span class="tab">事件</span>
				<span class="tab">监控</span>
				<span class="tab">域名</span>
				<span class="tab">日志</span>
				<span class="tab">配置文件</span>
				<span class="tab">监控配置</span>
				<span class="tab">自动扩缩</span>
				<span class="tab">微服务</span>
            </div>
            <div class="pics">
	            	<img src="images/wanshi.png" class="pic1 pic">
	            	<img src="images/wanshi.png" class="pic2 pic">
	            	<img src="images/wanshi.png" class="pic3 pic">	            	
	            	<img src="images/wanshi.png" class="pic4 pic">
	            	<img src="images/wanshi.png" class="pic5 pic">
	            	<img src="images/wanshi.png" class="pic6 pic">
	            	<img src="images/wanshi.png" class="pic7 pic">
	            	<img src="images/wanshi.png" class="pic8 pic">
	            	<img src="images/wanshi.png" class="pic9 pic">
	            	<img src="images/wanshi.png" class="pic10 pic">
	        		<img src="images/wanshi.png" class="pic11 pic">
	        		<img src="images/wanshi.png" class="pic12 pic">
	        		<img src="images/wanshi.png" class="pic13 pic">
	        		<img src="images/wanshi.png" class="pic14 pic">
	        		<img src="images/wanshi.png" class="pic15 pic">
	        		<img src="images/wanshi.png" class="pic16 pic">
	        		<img src="images/wanshi.png" class="pic17 pic">
	        		<img src="images/wanshi.png" class="pic18 pic">
	        		<img src="images/wanshi.png" class="pic19 pic">
	        		<img src="images/wanshi.png" class="pic20 pic">
					<img src="images/wanshi.png" class="pic21 pic">
					<img src="images/wanshi.png" class="pic22 pic">
					<img src="images/wanshi.png" class="pic23 pic">
					<img src="images/wanshi.png" class="pic24 pic">
					<img src="images/wanshi.png" class="pic25 pic">
					<img src="images/wanshi.png" class="pic26 pic">
					<img src="images/wanshi.png" class="pic27 pic">
					<img src="images/wanshi.png" class="pic28 pic">
					<img src="images/wanshi.png" class="pic29 pic">
					<img src="images/wanshi.png" class="pic30 pic">
					<img src="images/wanshi.png" class="pic31 pic">
					<img src="images/wanshi.png" class="pic32 pic">
					<img src="images/wanshi.png" class="pic33 pic">
					<img src="images/wanshi.png" class="pic34 pic">
					<img src="images/wanshi.png" class="pic35 pic">
					<img src="images/wanshi.png" class="pic36 pic">
					<img src="images/wanshi.png" class="pic37 pic">
					<img src="images/wanshi.png" class="pic38 pic">
					<img src="images/wanshi.png" class="pic39 pic">
					<img src="images/wanshi.png" class="pic40 pic">
					<img src="images/wanshi.png" class="pic41 pic">
					<img src="images/wanshi.png" class="pic42 pic">
            </div>
		</div>
		<script type="text/javascript" src="scale/jquery-3.0.0.js"></script> 
		<script type="text/javascript" src="scale/scale2.js"></script>
		<script src="javascripts/jquery.js" type="text/javascript" charset="utf-8"></script>
 
</body>
		
</body>
</html>