<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>应用管理</title>
	<link href="http://design.yonyoucloud.com/static/yonyouyun/iconfont.css" rel="stylesheet" media="screen">
	<link rel="stylesheet" media="screen"  href="styles/scale1.css">
</head>
<body>
	<div class="head">
		<div>
			<span class="cl angle-pointing-to-left cl-arrow-left back-icon"></span> 
			<span class="back">返回</span>
		</div>
		<h2 align="center">开发者中心应用监控</h2>
		<h4 align="center">荣耀红包</h4>
	</div>
	<div class="detail_bg">
	<img src="../images/java.png"/>
	</div>
		
</body>
</html>