<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>测试</title>

</head>
<body>
	 <input type="button" value="应用监控" onclick="javascrtpt:
		$.ajax({ 
                  type: 'GET', 
                  url: '/yanshi/view/change?page=1',
               });
		">

		<input type="button" value="全链路" onclick="javascrtpt:
		$.ajax({ 
                  type: 'GET', 
                  url: '/yanshi/view/change?page=2',
               });
		">

		<input type="button" value="应用管理" onclick="javascrtpt:
		$.ajax({ 
                  type: 'GET', 
                  url: '/yanshi/view/change?page=3',
              });
               "> 

		<input type="button" value="reset" onclick="javascrtpt:$.ajax({ 
                  type: 'GET', 
                  url: '/yanshi/view/reset',
               });">
        <input type="button" value="up" onclick="javascrtpt:$.ajax({ 
                  type: 'GET', 
                  url: '/yanshi/view/up',
               });">
		<input type="button" value="expand" onclick="javascrtpt:$.ajax({ 
                  type: 'GET', 
                  url: '/yanshi/view/expand',
               });">
		<!-- <input type="button" value="down" onclick="javascrtpt:$.ajax({ 
                  type: 'GET', 
                  url: '/yanshi/view/down',
               });"> -->
                             
      <script type="text/javascript" src="map/jquery-3.0.0.js"></script>
</body>
</html>